body {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headings {
    background: -webkit-linear-gradient(#160163, #475bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #275673;
}

.content {
    text-align: center;
}

/* navigation bar */
/* current page indicator on */
.this-page {
    background-color: #496373;
    border-radius: 9px;
}

/* main navbar */
#navbar {
    overflow: hidden;
    background-color: #275673;
    position: sticky;
    top: 0;
    width: 100%;
    border-radius: 14px;
    text-align: center;
}

/*navbar links*/
#navbar a {

    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

/*mouse hover animation on navbar*/
#navbar a:hover {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 9px;
}

.tree-images {
    border-radius: 14px;
    border: 5px solid #275673;
}


/* tables */
table {
    margin: 0 auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #000000;
    color: #000000;
    padding: 12px;
}

th {
    background-color: #275673;
    color: #ffffff;
}

td {
    background-color: #496373;
    color: #ffffff;
}



/* assessment and class lists */
.lists {
    color: #ffffff;
    background: #275673;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
    
}

.lists:hover {
    color: #000000;
    background: #275673;
}

ul li {
    margin-bottom: 16px;
    list-style-type: none;
    padding-left: 0px;
}

.horizonral-list {
    li a {
        display: block;
        padding-left: 0px;
    }
}

/* Font */

body {
    font-family: Arial, sans-serif;
}