body {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;   
}

.headings {
    background: -webkit-linear-gradient(#160163, #475bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #275673;
}

.content {
    text-align: center;
}

/* navigation bar */
/* current page indicator on navbar */
.this-page {
    background-color: #496373;
    border-radius: 9px;
}

#navbar {
    background-color: #275673;
    top: 0;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    list-style-type: none;

}
#navbar ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/*navbar links*/
#navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    margin-left: 0px;
    text-align: center;
}
/*mouse hover animation on navbar*/
#navbar a:hover {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 9px;
}


button {
    background-color: #18384b;

    border: 2px solid white;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    /* Green */
    color: #18384b;
    border: 2px solid #18384b;
}

.tree-images {
    border-radius: 14px;
    border: 5px solid #275673;
}


/* tables */
table {
    margin: 0 auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #000000;
    color: #000000;
    padding: 12px;
}

th {
    background-color: #275673;
    color: #ffffff;
}

td {
    background-color: #496373;
    color: #ffffff;
}



/* assessment and class lists */
.lists {
    color: #ffffff;
    background: #275673;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
}


.lists:hover {
    color: #000000;
    background: #275673;
}
.lists-main ul li {
    margin-bottom: 16px;
    list-style-type: none;
    
}

ul {
    margin: 0px;
    padding-left: 0px;
}
li {
    margin: 0px;
    padding-left: 0px;
}


.assignment-box{
    background-color: #275673;
    text-align: center;
    border: 3px solid #040369;
    border-radius: 10px;
    margin-bottom: 3%;
}
.assignment-box h2{
    color: #ffffff;
}
.assignment-box img{
    border-radius: 5px;
}

.assignment-box a{
    text-decoration: none;
    color: #ffffff;
}

.assignment-column{
    width: 85%;
    margin: auto;
}
.content{
    text-align: center;
    justify-content: center;
}

#wirframe {
    margin: auto;
    display: block;
}





.hide {
    visibility: hidden;
}



#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

#sub-nav {
    background-color: azure;
    top: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
}

#sub-nav ul {
    margin-left: 0px;
    padding-left: 0px;
    padding: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

#sub-nav li {
    list-style-type: none;
}

#sub-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 4px 40px;
    text-decoration: none;
    margin-left: 0px;
}

#sub-nav a:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 9px;
}


.hide-ex {
    display: none;
    visibility: hidden;
}

.show-ex {
    display: block;
}
#sub-nav li {
    display: inline-block;
}


#preview-image
{
    border: 2px solid #275673;
    box-shadow: 6px 6px#275673;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Font */

body {
    font-family: Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    #navbar li {
        display: inline-block;
        text-align: center;
    }
    .columns {
        display: flex;
        column-gap: 4%;
  
        justify-content: center;
    }
    .col1of3 {
        flex: 1;
    }
    .this-ex {
        border-bottom: 4px solid #275673;
    }
   
}