body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;   
}

.headings {
    background: -webkit-linear-gradient(#160163, #475bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #275673;
}

.content {
    text-align: center;
}


    
.loading {
    align-items: center;
    text-align: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-left: 35%;
    margin-bottom: 10%;
    width: 20%;
    aspect-ratio: 1 / 1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spin;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* navigation bar */
/* current page indicator on navbar */
.this-page {
    background-color: #496373;
    border-radius: 9px;
}

#navbar {
    background-color: #275673;
    top: 0;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    list-style-type: none;

}
#navbar ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/*navbar links*/
#navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    margin-left: 0px;
    text-align: center;
}

/*mouse hover animation on navbar*/
#navbar a:hover {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 9px;
}




.tree-images {
    border-radius: 14px;
    border: 5px solid #275673;
}


/* tables */
table {
    margin: 0 auto;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid #000000;
    color: #000000;
    padding: 12px;
}

th {
    background-color: #275673;
    color: #ffffff;
}

td {
    background-color: #496373;
    color: #ffffff;
}




/* assessment and class lists */
.lists {
    color: #ffffff;
    background: #275673;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
    
}

.lists:hover {
    color: #000000;
    background: #275673;
}

ul li {
    margin-bottom: 16px;
    list-style-type: none;
}

@media only screen and (min-width: 768px) {
    #navbar li {
        display: inline-block;
        text-align: center;
    }
}