body {
    background: rgb(204,204,204); 
    font-family:"Calibri", sans-serif;
}
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  p
{
  margin:0;
  padding:0;
}
div
{
  margin:0;
  padding:0;
}


.content{
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
}
#first-line{
    width: 100%;
    color:  #2a426e;
    height: 5px;
    background-color:#2a426e;
    border-radius: 3px;
    border: none;
}
.second-line{
    width: 100%;
    color:  #cadee5;
    height: 3px;
    border: none;
    background-color:#cadee5;
    border-color: #cadee5;

}
.third-line{
    /* width: 100%;
    color:  #000000;
    height: 1px;
    border: none;
    background-color:#000000; */
    border-top: 2px solid black;
}
.side-line{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

header{
    padding-top: 2%;
    justify-content: center;
    text-align: center;
    color: #2a426e;
}
header h1{
    font-family: "Franklin Gothic Medium";
    font-size: 60px;
    margin: 0px;
}
header h2{
    font-family: "arial";
    font-size: 30px;
    margin: 0px;
    letter-spacing: 3px;
}
header p{
    font-family: "arial";
    font-size: 13px;
    margin: 0px;
}
.titles{
    color: #2a426e;
    margin: 0;
    font-size: 20px;
}
.date{
    color: #2a426e;
    margin: 0;
    font-size: 17px;
}
.job-title{
    color: #2a426e;
    margin: 0;
    font-size: 20px;
}
span {
    display:inline-block;
    vertical-align:middle;
    color:rgb(0, 0, 0);
    font-size:1em;
    margin-top:-.25em;
}

.side-panel-part{
    margin-left: 5px;
    text-align: center;
}
.side-panel-heading{
    padding-left: 3px;
    padding-right: 3px;
    margin: 0;
    font-size: 20px;
    color: #2a426e;
    justify-content: center;
    text-align: center;
    font-family: "arial";
}
.side-panel-sub-heading{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "arial";
}
.side-panel-sub-sub-heading{
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    margin: 0;
    font-size: 13px;
    font-family: "arial";
}
.first-side-heading{
    padding-top: 80px;
}

.columns {
    display: flex;
    column-gap: 0%;
}
.columns2 {
    display: flex;
    column-gap: 10px;
}
img{
    border-radius: 5px;
}
.col1of4 {
    flex: 1;
}
.col4of5 {
    flex: 4;
}
.col1of5 {
    flex: 1;
}
.col4of5 {
    flex: 5;
}
.side-panel{
    background-color: #cadee5;
    margin-left: 10px;
    border-radius: 15px;
}
ul{
    margin-left: 0px;
    padding-left: 0px;
}

 .col1of2 ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    color: #000000;
    font-size: 10px;
}

.col1of2 ul,
li {
    margin-bottom: 15px;
    text-align: left;

}

.coding-list{
    margin-left: 15px;
}
.list-right{
    margin-left: 15px;
}

.side-panel-text{
    padding-right: 2px;
    font-size: 13px;
    font-family: "arial";
    padding-top: 2px;
}

footer{
    text-align: center;
    color: #2a426e;
    font-style: italic;
}
.for-positioning{
    position: relative;
    width: 0;
    height: 0;
}

.black-box{
    width: 75px;
    height: 20px;
    background-color: #000000;
    position: absolute;
}
.text-box{
    font-size: 11px;
    background-color: #ece000;
    width: 255px;
    opacity: 0.7;
    position: relative;
    top: 350px;
    left: 290px;
}

.first-box{
    top: 367px;
    left: 455px;
}
.second-box{
    top: 466px;
    left: 220px;
}
  @media print {
    body, page {
      background: white;
      margin: 0;
      box-shadow: 0;
    }
  }