<!DOCTYPE html>
<html lang="en">

<head>
    <title>Raphael Attfield's page</title>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body>

    <div id="navbar">
        <ul>
            <li> <a class="this-page" href="#"><b>Home</b></a></li>
            <li><a href="classes.html"><b>Classes</b></a></li>
            <li><a href="assignments.html"><b>Assignments</b></a></li>
            <li> <a href="about.html"><b>About</b></a></li>
        </ul>
    </div>


    <div class="content">
        <h1>CSCE242: Website Applications</h1>
        <h1>Raphael Attfield</h1>
        <p>This course teaches us about the technology used in web applications. We will be using things such as HTML,
            CSS and JavaScript to build our own website</p>
    </div>
</body>

</html>